
<!DOCTYPE html>
<html>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>-->
<link href="css/regis-form-normal.css" rel="stylesheet">
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<title>Snippet - Bootsnipp.com</title>
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">-->
<link href="css/bootstrap.min.css" rel="stylesheet">
<body ng-app="myApp" >
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div ng-view></div>
<script src="js/registration-form-normal.js">

</script>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7">-->
<!--<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8">-->
<!--<html lang="en" ng-app="app" class="no-js lt-ie9">-->
<!--<html lang="en" ng-app="app" class="no-js">-->
    <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<title>Spring boot and Angularjs Tutorial</title>-->
    <!--<meta name="description" content="">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="css/app.css">-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<h2>Administrator Panel</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="home-section">&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="menu-list">&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#/users">Users</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#/roles">Roles</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-view></div>&ndash;&gt;-->
<!--<main class="container">-->

    <!--&lt;!&ndash; Left Column / Headphones Image &ndash;&gt;-->
    <!--<div class="left-column" id="chooseColor">-->
        <!--<img data-image="black" id="blackImage" src="image/black.png" alt="">-->
        <!--<img data-image="blue" id="blueImage" class="active" src="image/blue.png" alt="">-->
        <!--<img data-image="red" id="redImage" src="image/red.png" alt="">-->
    <!--</div>-->


    <!--&lt;!&ndash; Right Column &ndash;&gt;-->
    <!--<div class="right-column">-->

        <!--&lt;!&ndash; Product Description &ndash;&gt;-->
        <!--<div class="product-description">-->
            <!--<span>Headphones</span>-->
            <!--<h1>Beats EP</h1>-->
            <!--<p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>-->
        <!--</div>-->

        <!--&lt;!&ndash; Product Configuration &ndash;&gt;-->
        <!--<div class="product-configuration">-->

            <!--&lt;!&ndash; Product Color &ndash;&gt;-->
            <!--<div class="product-color"  >-->
                <!--<span>Color</span>-->

                <!--<div class="color-choose" ng-controller="colorController">-->
                    <!--<div>-->
                        <!--<input data-image="red" type="radio" id="red" name="color" value="red" ng-click="changeColor($event);" >-->
                        <!--<label for="red"><span></span></label>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<input data-image="blue" type="radio" id="blue" name="color" value="blue" checked ng-click="changeColor($event);">-->
                        <!--<label for="blue"><span></span></label>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<input data-image="black" type="radio" id="black" name="color" value="black" ng-click="changeColor($event);">-->
                        <!--<label for="black"><span></span></label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Cable Configuration &ndash;&gt;-->
            <!--<div class="cable-config">-->
                <!--<span>Cable configuration</span>-->

                <!--<div class="cable-choose">-->
                    <!--<button>Straight</button>-->
                    <!--<button>Coiled</button>-->
                    <!--<button>Long-coiled</button>-->
                <!--</div>-->

                <!--<a href="#/users">How to configurate your headphones</a>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Product Pricing &ndash;&gt;-->
        <!--<div class="product-price">-->
            <!--<span>148$</span>-->
            <!--<a href="pageflipdoc.html" class="cart-btn">Add to cart</a>-->
        <!--</div>-->
        <!--<div id="flipbook">-->
            <!--<div class="hard"> Turn.js </div>-->
            <!--<div class="hard"></div>-->
            <!--<div> Page 1 </div>-->
            <!--<div> Page 2 </div>-->
            <!--<div> Page 3 </div>-->
            <!--<div> Page 4 </div>-->
            <!--<div class="hard"></div>-->
            <!--<div class="hard"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</main>-->
<!--<div ng-view></div>-->
<!--<script src="/webjars/angularjs/1.4.9/angular.js"></script>-->
<!--<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>-->
<!--<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>-->
<!--<script src="js/app.js"></script>-->
<!--<script src="js/controller.js"></script>-->

<!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">-->
<!--</body>-->
<!--</html>-->



