<!DOCTYPE html>
<html>
<head><title>Ngất ngây mẫu menu trượt icon theo phong cách Apple</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../css/test_menu.css" media="all" />

</head>
<body>


<div class="navigation">
    <ul class="menu" id="menu">
        <li><span class="ipod"></span><a href="" class="first">Players</a></li>
        <li><span class="video_camera"></span><a href="">Cameras</a></li>
        <li><span class="television"></span><a href="">TVs</a></li>
        <li><span class="monitor"></span><a href="">Screens</a></li>
        <li><span class="toolbox"></span><a href="">Tools</a></li>
        <li><span class="telephone"></span><a href="">Phones</a></li>
        <li><span class="print"></span><a href="" class="last">Printers</a></li>
    </ul>
</div>

<div class="footer-bar">
    <span class="article-wrapper">
        <span class="article-label">Xem Bài Viết: </span>
        <span class="article-link"><a href="https://www.thuthuatweb.net/css/ngat-ngay-mau-menu-truot-icon-theo-phong-cach-apple.html">Ngất ngây mẫu menu trượt icon theo phong cách Apple</a></span>
    </span>

</div>


<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/script_test_menu.js"></script>

</body>
</html>
